<div class="banner_question">
  <p><%= params[:question] %></p>
  <p><em>-You</em></p>
</div>

<div class="banner_answer">
  <p><strong><%= @answer %></strong></p>
  <p><em>-Your coach</em></p>
</div>

<%= link_to 'Ask a new question', ask_path %>